
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /delnwordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /delnproject/index.php [L]
RewriteRule ^/delnwordpress/gerenciador-deln/(.*) wp-admin/$1?%{QUERY_STRING} [L]
</IfModule>

# END WordPress